# Python
*.py[cod]
*$py.class
*.so
__pycache__/
*.pyc

# Виртуальное окружение
venv/
env/
ENV/
.venv/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media
/staticfiles
/static

# Секретные данные
.env
*.env
secrets.json

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db